.vscode
*.vs
*.sln
bin
obj
*.csproj
.DS_Store
*Assets*
Midterm
*.plist
*storyboard
AppDelegate*
*Resources
webdev-325
*.exe
*ViewController
node_modules
*bootstrap*
*Finca*
package-lock*
tailwind*
webdev-325
Shapes
Fraction
DateOne
MX
portfolio_site
Training/node-express-dashboard
Heroku/stark-plateau-45266
