<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= title %> </title>
    <link href="css/style.css" rel="stylesheet" />
    <script src="js/indexPage.js"></script>
  </head>
    <body>

      <!--HEADER-->
      <header class="main-header">
        <h1>Basic Survey Generator</h1>
      </header>

      <!--NAVIGATION-->
      <nav class="nav-bar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </nav>

      <!--MAIN CONTENT-->
      <!--LANDING PAGE LOG IN/SIGN UP-->
      <div class="landing-content-wrapper">
        <form class="login-form" action="main/main.html">
          <div><label for="login-username">Username</label>
          <input type="text" name="login-username" id="login-username" required></div>

          <div><label for="login-password">Password</label>
          <input type="password" name="login-password" id="login-password" required></div>

          <input type="submit" id="login-button" value="Log In">
        </form>
      </div>

      <form class="signup-form" action="./views/signup">
        <label for="signup-button">Don't have an account? Sign up here.</label>
        <input type="submit" id="signup-button" value="Sign Up">
      </form>

      <!--FOOTER-->
      <footer class="main-footer">
        <small>Created by Lucas Newton and Alex Burgos for IT325</small>
      </footer>
    </body>
</html>