<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Survey Generator: Sign Up</title>
    <link href="../css/style.css" rel="stylesheet"/>
    <script src="../signup/signupPage.js"></script>
  </head>
    <body>
      <!--HEADER-->
      <header class="main-header">
        <h1>Basic Survey Generator</h1>
      </header>
      <!--NAVIGATION-->
      <nav class="nav-bar">
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../about/about.html">About</a></li>
        </ul>
      </nav>
      <!--MAIN CONTENT-->
      <!--LANDING PAGE LOG IN/SIGN UP-->

      <div class="landing-content-wrapper">
        <form class="signup-form" action="/auth/signup">
          <div>
            <label for="signup-username">Username</label>
            <input type="text" name="signup-username" id="signup-username" required>
          </div>

          <div>
            <label for="signup-email">E-Mail</label>
            <input type="email" id="signup-email" name="signup-email" required>
          </div>

          <div>
            <label for="signup-password">Password</label>
            <input type="password" name="signup-password" id="signup-password" required>
          </div>

          <div id="confirm-password-container">
            <div id="passwords-match-indicator">Don't Match</div>
            <label for="signup-password-confirm">Confirm Password</label>
            <input type="password" name="signup-password-confirm" id="signup-password-confirm" required>
          </div>

          <input type="submit" id="signup-button" value="Sign up">
        </form>
      </div>

      <!--FOOTER-->
      <footer class="main-footer">
        <small>Created by Lucas Newton and Alex Burgos for IT325</small>       
      </footer>
    </body>
</html>