<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Survey Generator: Main</title>
    <link href="../css/style.css" rel="stylesheet" />
    <script src="mainPage.js"></script>

</head>
  <body>
    <!--HEADER-->
    <header class="main-header">
        <h1>Basic Survey Generator</h1>
    </header>

    <!--NAVIGATION-->
    <nav class="nav-bar">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
        <!--Dropdown menu for user options-->
          <div class="dropdown">
            <li class="dropbutton"></li>
            <div class="dropdown-content">
              <a href="#">Profile</a>
              <a href="#">Settings</a>
              <a href="#">Log Out</a>
            </div>
          </div>
        </ul>
    </nav> 

    <!--MAIN CONTENT-->
    <div class="user-surveys-container">
      <h3>Users</h3>
      <div id="table-container">
        <table id="survey-table">
          <tr class="table-header">
            <th>User e-Mail</th>
          </tr>
         <% users.map((user) => { %> 
            <tr>
              <td>
                <%= user._id %> 
              </td>
          </tr> <% }) %> 
        </table>
      </div>
      <button id="create-survey" onclick="showCreateSurveyOverlay()">New Survey</button>
    </div>
    <!--OVERLAY-->
    <div class="new-survey-container">
      <button id="close-overlay-button" onclick="hideSurveyOverlay();"><b>X</b></button>
        <form id="new-survey-form" onSubmit="submitNewSurvey()">
            <h3>Create New Survey</h3>
            <div>
                <label for="survey-title-input">Title</label>
                <input type="text" name="survey-title-input" id="survey-title-input" required>
            </div>

            <div>
                <label for="survey-author">Author</label>
                <input type="text" name="survey-author" id="survey-author" required>
            </div>

            <div>
                <label for="survey-duedate">Due Date</label>
                <input type="date" name="survey-duedate" id="survey-duedate">
            </div>

            <div>
                <label id="description-label" for="survey-description">Description</label>
                <textarea id="survey-description" placeholder="Write a brief description."></textarea>
            </div>

            <div>
              <label id="sendTo-label" for="survey-sendTo">Send To</label>
              <textarea id="survey-sendTo" placeholder="Comma separated list of usernames or emails"></textarea>
            </div>

            <input type="submit" value="Submit">
        </form>
    </div>

    <!--FOOTER-->
    <footer class="main-footer">
      <small>Created by Lucas Newton and Alex Burgos for IT325</small>
    </footer>
  </body>
</html>